services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: transaction
      MYSQL_USER: root
      MYSQL_PASSWORD: MySql@12345
    ports:
      - "3306:3306"
    volumes:
      - "./data/db:/var/lib/mysql"

  fastapi:
    build: ./app
    depends_on:
      - kafka
      - mysql
    ports:
      - "8000:8000"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: localhost:9092
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: MySql@12345
      MYSQL_DB: transaction
      EXTERNAL_API_URL: https://httpbin.org/post
    volumes:
      - ./app:/app
